.descripcion {
    font-size: 18px;
}

#lateralderecha {
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 15%;
    background-color: #9D6C44;
    color: black;
   
}
#contenido{
    position: absolute;
    top: 12%;
    left: 15%;
    height: 81%;
    width: 85%;
    background-color: #5F5357;
    color: black;
    overflow: auto;
}
#piePagina {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
    background-color: #262626;
    color: white;
    text-align: center;
    padding: 15px;
}
.informacion{
     font-size: 20px;
     text-align: center
}

.contenido{
    position: absolute;
    top: 12%;
    left: 0%;
    height: 81%;
    width: 100%;
    background-color: #373344;
    color: whitesmoke;
    overflow: auto;
   font-size: 20px;
  
}

.imagenes{
   position: absolute;
    top: 33%;
    left: 33%;
   text-align: center;
   font-family: cursive;
   
    
}
.login{
    position: absolute;
    top: 33%;
    left: 33%;
   text-align: center;
   font-family: cursive;
}
.inicio{
    position: absolute;
    top: 20%;
    left: 31%;
   
}
.link{
    position: absolute;
    top: 95%;
    left: 28%;
   text-align: center;
   font-family: cursive;
}
.link2{
    position: absolute;
    top: 170%;
    left: 28%;
   text-align: center;
   font-family: cursive;
}
